# Managed by Ansible. Local edits will be overwritten.
deb [arch={{ tailnet_node_repository_architecture }} signed-by={{ tailnet_node_keyring_path }}] {{ tailnet_node_repository_url }} {{ tailnet_node_repository_suite }} main
