# Managed by Ansible. Local edits will be overwritten.
[Journal]
Storage=persistent
SystemMaxUse={{ host_baseline_journal_system_max_use }}
RuntimeMaxUse={{ host_baseline_journal_runtime_max_use }}
MaxRetentionSec={{ host_baseline_journal_max_retention }}
Compress=yes
