UID={{ identity_stack_lldap_uid }}
GID={{ identity_stack_lldap_gid }}
TZ=UTC
LLDAP_LDAP_BASE_DN={{ lldap_base_dn }}
LLDAP_LDAP_USER_DN={{ lldap_admin_username }}
LLDAP_LDAP_USER_EMAIL={{ lldap_admin_email }}
LLDAP_LDAP_USER_PASS={{ lldap_admin_password }}
LLDAP_FORCE_LDAP_USER_PASS_RESET=always
LLDAP_JWT_SECRET={{ lldap_jwt_secret }}
LLDAP_KEY_SEED={{ lldap_key_seed }}
LLDAP_DATABASE_URL=sqlite:///data/users.db?mode=rwc
LLDAP_HTTP_HOST=0.0.0.0
LLDAP_LDAP_HOST=0.0.0.0
LLDAP_VERBOSE=false
